@model IEnumerable<Pelicula>

<div class="row pb-3">
    @foreach(var pelicula in Model)
    {
        <div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@pelicula.ImageUrl" class="card-img-top rounded" style="width:auto; height:410px; border:1px solid #bbb;"/>

						<div class="card-body">
						<div class="pl-1">
							<p class="card-title h5 text-primary">@pelicula.Title</p>
							<p class="card-title text-info">by <b>@pelicula.Director</b></p>
						</div>
						<div class="pl-1">
							<p>Precio por entrada: <b>$@pelicula.Price.ToString("0.00")</b></p>
						</div>

						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@pelicula.Id">
							Detalles/Comprar
						</a>
					</div>
				</div> 
			</div>
		</div>
    }
</div>